<!-- wp:theblocktheme/navbar /-->


<!-- wp:theblocktheme/container -->
<div class="wp-block-theblocktheme-container searchresultscontainer">
    <!-- wp:theblocktheme/archiveposts /-->
</div>
<!-- /wp:theblocktheme/container -->


<!-- wp:theblocktheme/footer {"tagName":"footer"} -->
<footer class="wp-block-theblocktheme-footer">

    <!-- wp:columns -->
    <div class="wp-block-columns aboutus">
        <!-- wp:paragraph {"className":"footeraboutus"} -->
        <h2>About Us</h2>
        <p class="footeraboutus">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, voluptatum ad!
            Error totam modi, ducimus eum quidem corporis porro facilis doloremque saepe ex. Neque quos adipisci
            blanditiis iste vitae eos!</p>
        <!-- /wp:paragraph -->
    </div>
    <!-- /wp:columns -->
    <!-- wp:columns -->
    <div class="wp-block-columns subscribe">
        <!-- wp:paragraph {"className":"footeraboutus"} -->
        <h2>Contact Us</h2>
        <form>
            <div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label visuallyhidden">Name</label>
                    <input type="text" placeholder="Name" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label visuallyhidden">Email address</label>
                    <input type="email" placeholder="Email address" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
            </div>
            <div class="mb-3" style="width: 78%;">
                <label for="exampleInputEmail1" class="form-label visuallyhidden">Message</label>
                <input type="text" placeholder="Message" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <button type="submit" style="width: 20%;
            background: #1B544E;
            border: #1B544E;" class="btn btn-primary">Submit</button>
        </form> <!-- /wp:paragraph -->

    </div>
    <!-- /wp:columns -->




</footer>
<!-- /wp:theblocktheme/footer -->